<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> report </title>
</head>
<body  bgcolor="#ebf7fc">
   <br></br>
	<br></br>
	<br></br>
	<br></br>
	<center><h1 data-wow-delay="0.4s">Welcome to Lemonade Stand !</h1></center>
	<br></br>
	
	<center><div style = "text-align:center; ">
      
   		<button style ="background-color :#ebf7fc;width:190px;height:190px;border-radius:10px;border:3px solid;margin:auto;display:block;position: relative;font-size:40px" onclick="location.href='form/'">Form</button>
   		<br></br>
    	<button  style ="background-color :#ebf7fc;width:190px;height:190px;border-radius:10px;border:3px solid;margin:auto;display:block;position: relative;font-size:40px" onclick="location.href='report/'">Report</button>
    </div></center>
</body>
</html>

