<body  bgcolor="#ebf7fc">
<br></br>
<br></br>
<br></br>
<br></br>
<center><h1>User Login</h1></center>
<form action='' method="post">
    {% csrf_token %}
    <br></br>
    <br></br>
    
    
    <center><p>
        Username:
        <input type="text" name="username">
    </p>
    <p>
        Password:
        <input type="text" name="password">
    </p>
    <br></br>
    
    <p>
        <input type="submit" value="login">
    </p>
    
    </center>
    
</form>
</body>
