<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> report </title>
</head>
<center>
<body  bgcolor="#ebf7fc">
    <form action="showreport/" method="post">
    	<br></br>
    	<br></br>
    	<br></br>
   	 	<br></br>
   	 	<br></br>
    	<br></br>
    	<br></br>
    Name:<input type="text" name="name" value="" list =  "namelist"/>
    	<datalist id = "namelist">
                <option>Jeff Terry</option>
                <option>Thomas Black</option>
                <option>John Rice</option>
                <option>Larry Long</option>
        </datalist>
    <br></br>
    StartDate:<input type="text" name="startdate" value="" placeholder = "YYYY/MM/DD"/>
    <br></br>
    EndDate:<input type="text" name="enddate" value="" placeholder = "YYYY/MM/DD"/>
    <br></br>
    <input type="submit" value="Build"/>
    
    </form>
    <p></p> 
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

   
    <a href="/sales/form/">Go to form</a>
    <p></p> 
    <a href="/sales">Go to index</a>
</body></center>
</html>
